*.iml
target/
logs/
.idea/
.git/
*.project
*.classpath
*.prefs
*.class
*.log
*-local.properties
*-mzj.properties
templates/
.vscode/
**/cas.log.*
**/javadoc/*
/its-webapp/its-webapp/src/main/java/org/*
/its-resource/provider/src/main/java/org/*
node_modules/
dist/
/api-docs/zip/

its-manager/console-website/bower_components/*
*.DS_Store
.history/
package-lock.json
.reviewboardrc
yarn.lock

